* {
  box-sizing: border-box;
}
.container {
  display: grid;
  height: 98vh;
  gap: .5rem;
  grid-template-columns: 1fr;
	grid-template-rows:  80px 1fr 50px;
  
}

.container > div {
  border: 3px solid red;
  display: flex;
   justify-content:center;
  align-items:center;
  font-size:3rem;
}

@media screen and (min-width: 680px) {
  .A {
    grid-area: header;
  }
  
  .B {
    grid-area: main';
  }
  
  .C {
    grid-area: side;
  }
  
  .container {
  grid-template-columns: 1fr 120px;
	grid-template-rows: 120px 1fr ;
  grid-template-areas: "header header" "main side";
  }
  
}